/*
    Created on : Apr 6, 2017, 1:08:15 PM
    Author     : xcrkon00
*/
.num:focused {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.del {
    -fx-background-color: #b2b2b2;
    -fx-border-color: white;
}
.del:hover {
    -fx-background-color: #e0e0e0;
}
.del:pressed {
    -fx-background-color: #c9c9c9;
}
.control {
    -fx-background-color: #ff992d;
    -fx-border-color: white;
    
}
.control:hover {
    -fx-background-color: #feb66b;
}
.control:pressed {
    -fx-background-color: #ff992d;
    -fx-border-color: white;
}
.hidden {
    -fx-background-color: white;
}

.hidden .scroll-pane {
    -fx-background-color: white;
}

.hidden .scroll-pane .viewport{
    -fx-background-color: white;
}


.hidden .scroll-pane .content{
    -fx-background-color: white;
}
.fill {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
}
#about_logo {
    -fx-background-image: url('../images/logo.png');
    -fx-background-size: 200px;
    -fx-background-position: center center; 
}
#GNU_link {
    -fx-text-fill: #ff992d;
}
#GNU_link:visited {
    -fx-text-fill: #ff992d;
}